*{
  margin: 0;
  padding: 0;
  
}
.container{
  width: 70%;
  margin: auto;
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
  padding: 4vmax 8vmax;
  box-sizing: border-box;
}
.container >form{
  display: flex;
  flex-direction: column;
}

.container >h1{
  text-align: center;
  margin: 30px;
  font: 2.5rem;
}

input,textarea,button{
  padding: 15px;
  border: 8px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  margin: 10px;
  font-size: 1.2rem;
}
button{
  border: none;
  cursor: pointer;
  background-color: black;
  color: white;
}
.Task{
  display: flex;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  margin: 20px 0;
}

.Task span{
    color: rgba(0, 0, 0,0.673);
}
.Task>div{
width: 100%;
}
.Task>button{
  border-radius: 100%;
  width: 30px;
  height: 30px;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Task button:hover{
  background-color: red;
}